/* custom styles */
body{
    height: 100vh;
    background: #cad6df;
}

header {

  text-align: center;

}

h1 {
  text-align: center;
}

h2, h6 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

h2.projects {
  border-top: solid black 1px;
}

nav {
  background: #cad6df;
  position: relative;

  }

.nav {
    color: white;
    background:#8a959b;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px;
    margin: 0;
    float: right;
  }




  a:hover {
    color: #8a959b;
    background: #cad6df;
  }

  .clearfix:after {
    visibility: hidden;
    display:block;
    font-size:0;
    content: " ";
    clear: both;
    height: 0;

  }

.topsection {
      background-image: url("../imgs/jumboPic.jpg");
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
      padding-top: 50px;
      padding-bottom: 30px;
      text-align: center;
}

.michal_pic {
  border: solid white 3px;
	border-radius: 100%;
	width: 320px;
  height: auto;
  padding: 3px;
  display: block;
  margin: auto;
  margin-bottom: 5em;
  position:absolute;
  top: 15%;
  left:38%;
  z-index: 9999;

}

.topsection H3{
  //color: #cad6df;
  width: 10em;
  font-size: 30px;
  text-align: center;
  border-bottom: solid white 1px;
  display: inline-block;

}

.topsection H5{
  //color: #cad6df;
  font-size :20px;
  //margin-top: 1em;
  padding-top: 100px;
	text-align: center;

}


.topsection H6 {
  //color: #cad6df;
	font-size: 14px;
	text-align: center;
  text-transform: uppercase;
}

.footer{
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}
.footer a {
	font-family: "sans-serif";
	font-size: 1rem;
	text-decoration: none;
	color:#FFF;
	padding-right: 1.5rem;
}

.container-fluid {
  padding-bottom: 3em;
}

.card {
  padding: 0px;
}

.card-img-top {
  height: 18em;
}

/* new top section */
.jumbotron {
  background-image: url("../imgs/jumboPic.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  margin-top: -1em;
  text-align: center;
  height: 35em;
}
.jumbotron H3{
  width: 10em;
  font-size: 30px;
  text-align: center;
  border-bottom: solid white 1px;
  display: inline-block;
  position:absolute;
  top: 55%;
  left:38%;
  z-index: 9999;
}

.jumbotron H5{
  font-size :20px;
  padding-top: 100px;
	text-align: center;
  position:absolute;
  top: 50%;
  left:40%;
  z-index: 9999;
}

.jumbotron .city {
  font-size :20px;
  padding-top: 100px;
	text-align: center;
  position:absolute;
  top: 55%;
  left:43%;
  z-index: 9999;
}

.jumbotron H6 {
	font-size: 14px;
	text-align: center;
  text-transform: uppercase;
  position:absolute;
  top: 50%;
  left:43%;
  z-index: 9999;
}

.navigation_bar{
  background: #cad6df;
  position: relative;
}

.navigation_bar .navb {
    color: white;
    background:#8a959b;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px;
    margin: auto;
    display: inline-block;
    width: 6em;
    text-align: center;
  }

.navigation_bar a:hover {
  color: #8a959b;
  background: #cad6df;
}

.iconSkills {
	width: 50px;
	height: 50px;
}
.nameicon {
	width: 6em;
	height: 3em;
}

#particles canvas {
  position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
}

.container-fluid {
  padding-left: 8em;
  padding-right: 8em;
}

.btn-secondary {
  background: #8a959b;
}
