/* custom styles */
body{
    height: 100vh;
    background: #cad6df;
}

header {

  text-align: center;

}

h1 {
  text-align: center;
}

h2, h6 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

h2.projects {
  border-top: solid black 1px;
}

nav {
  background: #cad6df;
  position: relative;
  margin: 0 !important;
  }

.nav {
    color: white;
    background:#8a959b;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px;
    margin: 0 !important;
    float: right;
  }




  a:hover {
    color: #8a959b;
    background: #cad6df;
  }

  .clearfix:after {
    visibility: hidden;
    display:block;
    font-size:0;
    content: " ";
    clear: both;
    height: 0;

  }

.topsection {
      background-image: url("../imgs/jumboPic.jpg");
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
      padding-top: 50px;
      padding-bottom: 30px;
      text-align: center;
}

.michal_pic {
  border: solid white 3px;
	border-radius: 50%;
	/* width: 320px; */
  width: 420px;
  height: auto;
  padding: 3px;
  display: block;
  margin: auto;
  margin-bottom: 5em;
  position:absolute;
  top: 15%;
  left:38%;
  z-index: 9999;

}

.topsection H3{
  /* color: #cad6df; */
  width: 10em;
  font-size: 30px;
  text-align: center;
  border-bottom: solid white 1px;
  display: inline-block;

}

.topsection H5{
  /* color: #cad6df; */
  font-size :20px;
  /* margin-top: 1em; */
  padding-top: 100px;
	text-align: center;

}


.topsection H6 {
  /* color: #cad6df; */
	font-size: 14px;
	text-align: center;
  text-transform: uppercase;
}

.container-fluid {
  padding-bottom: 3em;
}

.card {
  padding: 0px;
}

.card-img-top {
  height: 18em;
}

.card-body {
    padding: 1.25rem;
    height: 5em;
    background-color: #a3abb1;
    /* background-color: #5FD5FA; */

}

/* new top section */
.jumbotron {
  background-image: url("../imgs/jumboPic.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  margin-top: -1em;
  text-align: center;
  /* height: 35em; */
  height: 50em;

}
.jumbotron H3{
  width: 10em;
  font-size: 30px;
  text-align: center;
  border-bottom: solid white 1px;
  display: inline-block;
  position:absolute;
  top: 70%; /*55%;*/
  left:41%; /*38%;*/
  z-index: 9999;
}

.jumbotron H5{
  font-size :20px;
  padding-top: 100px;
	text-align: center;
  position:absolute;
  top: 67%; /*50%;*/
  left:42%; /*40%;*/
  z-index: 9999;
}

.jumbotron .city {
  font-size :20px;
  padding-top: 100px;
	text-align: center;
  position:absolute;
  top: 73%; /*55%;*/
  left:47%; /*43%;*/
  z-index: 9999;
}

.jumbotron H6 {
	font-size: 14px;
	text-align: center;
  text-transform: uppercase;
  position:absolute;
  top: 70%; /*50%;*/
  left: 47%; /*43%;*/
  z-index: 9999;
}

.navigation_bar{
  background: #cad6df;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.navigation_bar .navb {
    color: white;
    background:#8a959b;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px;
    margin: auto;
    display: inline-block;
    width: 6em;
    text-align: center;
  }

.navigation_bar a:hover {
  color: #8a959b;
  background: #cad6df;
}

.iconSkills {
	width: 50px;
	height: 50px;
}
.nameicon {
	width: 4em;
	height: 3em;
}

#particles canvas {
  position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
}

.container-fluid {
  padding-left: 8em;
  padding-right: 8em;
}

.btn-secondary {
  background: #8a959b;
}

footer {
  background-color: #bec6cc;
  /* background-color: #fff; */

}

.footer {
  margin-top: 5em;
	text-align: center;
	height: 30vh;

}
.contact {
	color: #000;
	padding-top: 1em;
}

.icon {
	padding-top: 2em;
}
i {
  padding-left: 10px;
  padding-right: 10px;
}
