/* custom styles */

body{
  height: 100vh;
  background: #cad6df;
}
/* HEADER START */

header {
  text-align: center;
  display: flex;
}

header .row {
  align-items: center;
  width: 100%;
}

header {
  background: #cad6df;
  padding: 0;
  margin: 0;
  position: relative;
}

header .navb {
  color: white;
  background:#8a959b;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px;
  margin: auto 0 auto -5px;
  display: inline-block;
  align-content: center;
  width: 6em;
  text-align: center;
}

header a:hover {
  color: #8a959b;
  background: #cad6df;
}

.nameIcon {
  width: 4em;
  height: 3em;
}

/* HEADER END */

/* JUMBOTRON START */

#particles-js {
  position: absolute;
  width: 100%;
  /* height: 90%; */
  z-index: 1;
}

.jumbo {
  z-index: 9;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("../imgs/jumboPic.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  margin-top: -1em;
  text-align: center;
  height: 52em;
}

.jumbotron img {
  border: solid white 3px;
  border-radius: 50%;
  width: 420px;
  height: auto;
  padding: 3px;
  margin-bottom: 2em;
  align-items: center;
  justify-self: center;
}

.jumbotron H3 {
  width: 45%;
  margin-left: 30%;
  font-size: 30px;
  text-align: center;
  align-content: center;
  border-bottom: solid white 1px;
  text-shadow: -1px 0 #E1D1CF, 0 1px #E1D1CF, 1px 0 #E1D1CF, 0 -1px #E1D1CF;
}

.jumbotron H5{
  font-size: 20px;
  padding-top: 10px;
	text-align: center;
  text-shadow: -1px 0 #E1D1CF, 0 1px #E1D1CF, 1px 0 #E1D1CF, 0 -1px #E1D1CF;
}

/* JUMBOTRON END */

h1 {
  text-align: center;
}

h2, h6 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

h2.projects {
  border-top: solid black 1px;
}

a:hover {
  color: #8a959b;
  background: #cad6df
}

.container-fluid {
  padding-bottom: 3em;
}

.card {
  padding: 0px;
}

.card-img-top {
  height: 18em;
}

.card-body {
  padding: 1.25rem;
  height: 5em;
  background-color: #a3abb1;  
} 

.iconSkills {
  width: 50px;
  height: 50px;
}

.container-fluid {
  padding-left: 8em;
  padding-right: 8em;
}

.btn-secondary {
  background: #8a959b;
}


footer {
  background-color: #bec6cc;

}

.footer {
  margin-top: 5em;
	text-align: center;
	/* height: 35vh; */
  height: 11em;
}

.contact {
	color: #000;
	padding-top: 1em;
}

.icon {
	padding-top: 2em;
}
i {
  padding-left: 10px;
  padding-right: 10px;
}

.resume-btn {
  text-align: center;
}